<h1>Twitter Search</h1>



<div class="panel panel-default">
    <div class="panel-heading">Heat Map</div>
    <div class="panel-body" style="height: 50em">
        <div id="map-canvas" style="height:100%"></div>
    </div>
</div>
